Package: com.leemin.lockmaster
Name: Lock Master
Version: 1.2.1
Architecture: iphoneos-arm
Description: Customize the way your device locks
Maintainer: lemin
Author: lemin
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 2.0)
