<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- === Enable Tweak Toggles === -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweak Status</string>
		</dict>
		<!-- Enable Tweak -->
		<dict>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
		</dict>
		<!-- Disable in LPM -->
		<dict>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>disableInLPM</string>
			<key>label</key>
			<string>Disable in Low Power Mode</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
		</dict>
		<!-- === Animation Preferences === -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation Options</string>
		</dict>
		<!-- Animation Type -->
		<dict>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Animation Type</string>
			<key>key</key>
			<string>animType</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Shrink</string> <!-- 0 -->
				<string>Expand</string> <!-- 1 -->
				<string>Slide Left</string> <!-- 2 -->
				<string>Slide Right</string> <!-- 3 -->
				<string>Slide Up</string> <!-- 4 -->
				<string>Slide Down</string> <!-- 5 -->
				<string>CRT TV</string> <!-- 6 -->
				<string>CRT TV (No Flash to White)</string> <!-- 13 -->
				<string>Fade Into Off Button</string> <!-- 7 -->
				<!--<string>Fade Out of Off Button</string>--> <!-- 8 -->
				<string>Genie</string> <!-- 9 -->
				<string>Flip</string> <!-- 10 -->
				<string>Spin (Slower)</string> <!-- 11 -->
				<string>Spin (Faster)</string> <!-- 12 -->
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer> <!-- Shrink -->
				<integer>1</integer> <!-- Expand -->
				<integer>2</integer> <!-- Slide Left -->
				<integer>3</integer> <!-- Slide Right -->
				<integer>4</integer> <!-- Slide Up -->
				<integer>5</integer> <!-- Slide Down -->
				<integer>6</integer> <!-- CRT TV -->
				<integer>13</integer> <!-- CRT TV (No Flash to White) -->
				<integer>7</integer> <!-- Fade Into Off Button -->
				<!--<integer>8</integer>-->  <!-- Fade Out of Off Button -->
				<integer>9</integer> <!-- Genie -->
				<integer>10</integer> <!-- Flip -->
				<integer>11</integer> <!-- Spin (Slower) -->
				<integer>12</integer> <!-- Spin (Faster) -->
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
		</dict>
		<!-- Animation Duration -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation Duration</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.05</real>
			<key>max</key>
			<real>3.0</real>
			<key>default</key>
			<real>0.25</real>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
			<key>id</key>
			<string>animDuration</string>
			<key>key</key>
			<string>animDuration</string>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<!-- Fade Extension -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Fade Extension</string>
			<key>footerText</key>
			<string>How long the default fade animation plays for in addition to the animation duration.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>default</key>
			<real>0.2</real>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
			<key>id</key>
			<string>fadeExtension</string>
			<key>key</key>
			<string>fadeExtension</string>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<!-- === Sound Preferences === -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Sound Options</string>
			<key>footerText</key>
			<string>LockMaster will load sounds from /var/jb/Library/PreferenceBundles/LockMasterPreferences.bundle/LockSounds/. If you added a new sound, you need to restart the settings app.</string>
		</dict>
		<!-- Lock Sound -->
		<dict>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Lock Sound</string>
			<key>id</key>
			<string>customLockSound</string>
			<key>key</key>
			<string>customLockSound</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>titlesDataSource</key>
			<string>LockSoundTitles</string>
			<key>valuesDataSource</key>
			<string>LockSoundValues</string>
			<key>default</key>
			<string>Default</string>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openSoundsFolder</string>
			<key>label</key>
			<string>Open Sounds Folder</string>
		</dict>
		<!-- Buttons -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		<dict>
		    <key>action</key>
			<string>openGithub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code</string>
		</dict>
		<dict>
		    <key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>Lock Master Preferences</string>
</dict>
</plist>
