<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- === Enable Tweak Toggles === -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweak Status</string>
		</dict>
		<!-- Enable Tweak -->
		<dict>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
		</dict>
		<!-- Disable in LPM -->
		<dict>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>disableInLPM</string>
			<key>label</key>
			<string>Disable in Low Power Mode</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
		</dict>
		<!-- === Animation Preferences === -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation Options</string>
		</dict>
		<!-- Animation Type -->
		<dict>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Animation Type</string>
			<key>key</key>
			<string>animType</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Shrink</string>
				<string>Expand</string>
				<string>Slide Left</string>
				<string>Slide Right</string>
				<string>Slide Up</string>
				<string>Slide Down</string>
				<string>CRT TV</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
		</dict>
		<!-- Animation Duration -->
		<dict>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.05</real>
			<key>max</key>
			<real>3.0</real>
			<key>default</key>
			<real>0.25</real>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
			<key>id</key>
			<string>animDuration</string>
			<key>key</key>
			<string>animDuration</string>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
	</array>
	<key>title</key>
	<string>Lock Master Preferences</string>
</dict>
</plist>
