<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- Enable Tweak Toggle -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweak Status</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
		</dict>
		<!-- Animation Preferences -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
			<key>key</key>
			<string>animType</string>
			<key>label</key>
			<string>Animation Type</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Shrink to Center</string>
				<string>TV Off</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>PostNotification</key>
			<string>com.leemin.lockmaster.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.05</real>
			<key>max</key>
			<real>3</key>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.leemin.lockmasterprefs</string>
			<key>key</key>
			<string>animDuration</string>
		</dict>
	</array>
	<key>title</key>
	<string>Lock Master Preferences</string>
</dict>
</plist>
